.team-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.display-4{
    text-align: center;
    font-size: 150px;
    font-stretch: expanded;
}
    
 

.jumbotron{
    background-color: orange;
}

.title {
    background-color: blanchedalmond;
}
 
.name {
    background-color: aqua;
}